ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 5px;
  justify-content: space-between;
  color: #fff;
}

li {
  text-align: right;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  right: -3px;
  padding-right: 103px;
}

li a {
  display: flex;
  justify-content: right;
  gap: 100px;
}

li:hover {
  background-color: #f0f0f0;
  color: #000;
}

li[id="help"]{
  cursor: not-allowed;
}