ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 5px;
  justify-content: space-between;
}

li {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: right;
  padding-top: 10px;
  padding-right: 10px;
  gap: 100px;
}

li a {
  display: flex;
  justify-content: right;
  gap: 100px;
}

li:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* ertyuiop */
/* 
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
 */
