<ul class="fixed top-24">
  <li [routerLink]="['dashboard']" routerLinkActive="bg-gray-200 text-blue-600">
    DashBoard <mat-icon>dashboard</mat-icon>
  </li>
  <li
    [routerLink]="['createuser']"
    routerLinkActive="bg-gray-200 text-blue-600"
  >
    Create User <mat-icon>person_add</mat-icon>
  </li>
  <li
    [routerLink]="['listcustomer']"
    routerLinkActive="bg-gray-200 text-blue-600"
  >
    Customer List<mat-icon>view_list</mat-icon>
  </li>
  <li [routerLink]="['listuser']" routerLinkActive="bg-gray-200 text-blue-600">
    User List<mat-icon>view_list</mat-icon>
  </li>
  <li>Help <mat-icon>help</mat-icon></li>
  <li>
    <a (click)="onLogout()" routerLinkActive="bg-gray-200 text-blue-600"
      >Logout <mat-icon>exit_to_app</mat-icon></a
    >
  </li>
</ul>
