.container[_ngcontent-ng-c2034019037] {
  width: auto;
  height: 100%;
  border: 1px solid #ffffff;
  background: #b34949;
}

.mat-drawer-container {
  position: relative;
  z-index: 1;
  color: var(--mat-sidenav-content-text-color, var(--mat-sys-on-background));
  background-color: var(
    --mat-sidenav-content-background-color,
    var(--mat-sys-background)
  );
  display: inline;
  box-sizing: border-box;
  overflow: hidden;
}

.mat-drawer-content[_ngcontent-ng-c1979626139] {
  width: 100%;
  z-index: 1;
  display: block;
  width: calc(100%-360px);
  height: 100%;
  overflow: auto;
  top: 0px;
  right: 0px;
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  overflow: hidden;
}

.navbar {
  height: 100vh;
  background-color: rgb(3, 28, 28);
  border-radius: 0px;
  color: #fff;
}

.profile {
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: right;
  margin-right: 30px;
  justify-content: space-between;
}

li[_ngcontent-ng-c3392805664][_ngcontent-ng-c3392805664] {
  text-align: left;
  padding: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: right;
  gap: 100px;
}

li a {
  display: flex;
  justify-content: right;
  gap: 100px;
}

li:hover {
  background-color: #f0f0f0;
  color: #000;
}
