.mat-drawer-content {
  position: relative;
  top:89px;
  z-index: 1;
  display: block;
  height: 100vh;
}

.mat-drawer.mat-drawer-opened.mat-drawer-opened {
  transform: none;
}

table[_ngcontent-ng-c976244815] {
  width: 100%;
  float: left;
  margin-left: -20px;
}

:host ::ng-deep .mat-drawer {
  width: 290px;
}
